<ion-view title="Contacts" id="page4" style="background-color:#325FB1;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/nJ7BZ9gRHOJybSz4yvvf_logo-footer-creole.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="contacts-button-bar1" class="button-bar">
      <a href="mailto:finessedelroy@gmail.com" id="contacts-button4" class="button button-light button-block button-outline icon ion-ios-email-outline"></a>
      <a href="tel:+2482795577" id="contacts-button5" class="button button-light button-block button-outline icon ion-ios-telephone-outline"></a>
    </div>
  </ion-content>
</ion-view>