<ion-view title="Ranking" id="page2" style="background-color:#325FB1;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AxNDLdNbTqGykSJbTjaq_logo-footer-creole.png" style="display: block; width: 70%; height: 70%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div class="list card" id="ranking-card21">
      <ion-item class="item-avatar" id="ranking-list-item5">
        <img src="img/EAYcSp6dSmK75K8fQCO2_bob.jpg">
        <h2>Bob Marley</h2>
        <p>Speaks Fluent Patois</p>
      </ion-item>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half">
        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half">
        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half">
        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half">
        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half">
        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>
    </div>
    <form id="ranking-form1" class="list">
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <label class="item item-select" id="ranking-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Morne Blanc Trail</option>
          <option>Morne Seychelloise Trail</option>
          <option>Copolia Trail</option>
        </select>
      </label>
      <label class="item item-input" id="ranking-input1">
        <span class="input-label">Input your comments.</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="ranking-input2">
        <span class="input-label">Input your email.</span>
        <input type="email" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <button id="ranking-button7" style="font-weight:lighter;" class="button button-positive button-block icon-right ion-android-send">RATE ME</button>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
    </form>
  </ion-content>
</ion-view>