<ion-view title="Trails" id="page3" style="background-color:#325FB1;">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="trails-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="trails-slide24" style="background:url(&quot;img/P3cWbv7WQnOLnZY5UUSf_morne-seychellois-national-park-trois-freres-nature-trail.jpg&quot;) no-repeat center;background-size:cover;" class="padding"></ion-slide-page>
      <ion-slide-page id="trails-slide25" style="background:url(&quot;img/Fog5EKMRXBOJejrGw7w4_copolia-trail.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trails-slide26" style="background:url(&quot;img/lFwn3Z6FRpuUWaltzAUr_morne-blanc-trail.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>